body {
background-color: rgb(252, 213, 220);
color: white;
margin: 0px;
}

header {
    border-bottom: solid 2px rgb(246, 161, 201);
    padding: 20px;
    font-size: 32px;
    color: rgb(251, 246, 249, 0.024);
}

